* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Oswald, sans-serif;

    color: #ffffff;
}

:root {
    --all-red: #e31c25;
    --hover-red: #c00912;
    --btn-color: #ff4d4d;
    --text-gray: #343a40;
    --bg-black: #111;
    --text-black: #222;
    --text-white: #fff;
    --hover-white: #fff;
    --bg-white: #fff;
    --border-color: #ccc;
    --bg-input: #f8f9fa;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.navbar .logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.cta .btn {
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cta .btn:hover {
    background-color: #e64a19;
}

/* Mobile Styles */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .navbar {
        flex-direction: column;
    }
}


.container-fluid.page-header {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .8)), url(bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* You can change the background color */
    position: relative;
    overflow: hidden;
}

.d-flex.flex-column.align-items-center.justify-content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

h4.display-4 {
    font-size: 2.5rem;
    /* Adjust the font size as needed */
    color: var(--text-white);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding-top: 2rem;
}

.d-inline-flex {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
}

.d-inline-flex p {
    margin: 0;
    font-size: 1rem;
    color: var(--text-white);
}

.d-inline-flex a {
    color: var(--text-white);
    text-decoration: none;
}

.d-inline-flex a:hover {
    text-decoration: underline;
}

.text-white {
    color: var(--text-white) !important;
}

.font-weight-bold {
    font-weight: bold;
}